/*Estructura Color y Caligrafia*/
:root {
  --Primario: #004aad;
  --PrimarioClaro: #a2caff;
  --SecundarioRojo: #d13633;
  --SecundarioAmarrillo: #ecad43;
  --Blanco: #FFF;
  --Gris: #535353;
  --Negro: #000;

  --FuentePrincipal: 'Montserrat', sans-serif;
  --FuenteSecundaria: ;

  --navbar-size: 50px;
  --icon-size: 25px;
}

/*Globales*/
html {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--Negro);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: var(--FuentePrincipal);
}

/*scroll */
::-webkit-scrollbar {
  width: 12px;
  background-color: none;
  border-left: 2px solid var(--Blanco);
}

::-webkit-scrollbar-thumb {
  content: "↑";
  color: var(--Blanco);
  font-size: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Blanco);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.2s ease;
}
/* 
::-webkit-scrollbar-thumb:hover {
  background-color: var(--Blanco);
} */

/*HEADER*/
nav {
  position: absolute;
  width: 102%;
  height: 10.2%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: 3px solid var(--Blanco);
}

.logo {
  width: 15%;
}

.logo img {
  margin: 10px 0 0 10px;
  height: 80%;
}

.option {
  width: 80%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.start {
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-login {
  padding: 15px 20px;
  border-radius: 10px;
  border-color: var(--Primario);
  background: none;
  color: var(--Primario);
  margin: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.3s;
}

.btn-login:hover {
  box-shadow: 0 0 20px var(--Primario);
}

.main {
  display: flex;
}

.lbl-main {
  width: 50px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.lbl-main #spn1,
#spn2,
#spn3 {
  position: absolute;
  content: '';
  background: var(--Primario);
  width: 30px;
  height: 3px;
  border-radius: 5px;
  transition: all 400ms ease;
}

#spn2 {
  top: 11px;
}

#spn3 {
  top: 22px;
}

.btn-main {
  display: none;
}

.btn-main:checked~.lbl-main #spn1 {
  transform: rotate(140deg);
  top: 10px;
}

.btn-main:checked~.lbl-main #spn2 {
  opacity: 0;
}

.btn-main:checked~.lbl-main #spn3 {
  transform: rotate(-140deg);
  top: 10px;
}

.ul-main {
  list-style: none;
  position: fixed;
  top: 10.2%;
  right: 0;
  width: 40rem;
  height: 92%;
  padding: 20px 40px;
  margin: 0;
  z-index: 1000;
  display: none;
  border-radius: 20px 0 0 20px;
  text-align: end;
}

.fondMain {
  background-color: var(--Primario);
  list-style: none;
  position: fixed;
  display: none;
  top: 10.2%;
  right: 0;
  width: 40rem;
  height: 92%;
  margin: 0;
  z-index: 1000;
  border-radius: 20px 0 0 20px;
  opacity: 0.6;

}

.ul-main li {
  margin: 10px 0;
}

.ul-main a,
.ul-main h2 {
  text-decoration: none;
  color: var(--Blanco);
  font-size: 3rem;
}

.ul-main h2 {
  font-size: 5rem;
}


nav {
  width: 102%;
  height: 3rem;
  display: block;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.row {
  width: 99%;
  display: flex;
}

.add svg {
  margin-left: 10px;
}

table {
  width: 90%;
  text-align: center;
  font-size: 2rem;
  padding-top: 30px;
}

/*Floating Window*/
#formularioEmergente {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
  color: var(--Blanco);
  display: flex;
}

.order {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.formulario {
  width: 690px;
  height: 240px;
  text-align: center;
  display: block;
  margin: 200px auto;
  background-color: var(--Negro);
  border-radius: 15px;
}

.formulario h2 {
  padding-top: 35px;
}

.formulario form {
  margin-top: 40px;
}

#doc {
  width: 475px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--Blanco);
  color: var(--Negro);
  font-family: Arial, Helvetica, sans-serif;
}

#name {
  width: 475px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--Blanco);
  color: var(--Negro);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#surnames {
  width: 475px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--Blanco);
  color: var(--Negro);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.btn-primary {
  padding: 10px;
  border-radius: 10px;
  border-color: var(--Primario);
  background: var(--Negro);
  color: var(--Blanco);
}

.btn-secundary {
  padding: 10px;
  border-radius: 10px;
  border-color: var(--SecundarioRojo);
  background: var(--Negro);
  color: var(--Blanco);
}

/* Formulario */
tbody,
thead,
tr:nth-child(odd) {
  background-color: var(--Primario);
}

tbody,
thead,
tr:nth-child(even) {
  background-color: #3a90ff;
}

body {
  color: var(--Blanco);
}

td, th {
  padding: 5px;
  text-align: center;
  font-size: 2.2rem;
  border-radius: 20px;
}

.cal:hover {
  box-shadow: 0 0 20px var(--Blanco);
  transform: scale(0.9);
}

.cal {
  transition: transform 0.3s ease;
}
.btnfrom a {
  text-decoration: none;
  color: var(--Blanco);
}

/*Floating Window*/
#formularioEmergente5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
  color: white;
  display: flex;
}

.order5 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*REGISTRO FORMULARIO*/
.formulario5 {
  width: 90%;
  height: 90vh;
  text-align: center;
  display: block;
  margin: 30px auto;
  background-color: black;
  border-radius: 15px;
}

.formulario5 h2 {
  padding-top: 35px;
}

.formulario5 form {
  margin-top: 40px;
}

.btn-secundary {
  padding: 10px;
  border-radius: 10px;
  border-color: red;
  background: black;
  color: white;
}

.formulario5 iframe {
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid var(--Blanco);
  width: 90%;
  height: 85%;
}