@import url(../styles_global.css);

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


input {
    background-color: var(--Blanco);
    border: 2px solid var(--Primario);
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 20px;
}

.btn {
    border-radius: 20px;
    border: 1px solid var(--Primario);
    background-color: var(--Primario);
    color: var(--Blanco);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.btn.ghost {
    background-color: transparent;
    border-color: var(--Blanco);
}