RewriteEngine On

# Redirigir URLs amigables a los archivos PHP correspondientes
RewriteRule ^inicio$ index.php [L]
RewriteRule ^login$ view/pages/login/login.php [L]
RewriteRule ^register$ view/pages/login/create.php [L]
RewriteRule ^principal$ view/pages/main/main.php [L]
RewriteRule ^usuario$ view/pages/users/users_edit.php [L]
RewriteRule ^calendario$ view/pages/calendar/calendar_edit.php [L]
RewriteRule ^calendario_edit$ view/pages/calendar/calendar_data.php [L]
RewriteRule ^cursos$ view/pages/courses/courses.php [L]
RewriteRule ^curso_info$ view/pages/courses/courses_info.php [L]
RewriteRule ^curso_live$ view/pages/courses/courses_live.php [L]
RewriteRule ^curso_grab$ view/pages/courses/courses_recording.php [L]
RewriteRule ^curso_alert$ view/pages/courses/courses_alert.php [L]
RewriteRule ^curso_class$ view/pages/courses/courses_class.php [L]
RewriteRule ^curso_update$ view/pages/courses/courses_update.php [L]
RewriteRule ^curso_carg$ view/pages/courses/courses_carga.php [L]
RewriteRule ^video$ model/courses/video.php [L]
RewriteRule ^certificado$ view/pages/certificate/certificate.php [L]
RewriteRule ^diploma$ model/certificate/diplomas.php [L]
RewriteRule ^diploma_des$ model/certificate/diploma_des.php [L]
RewriteRule ^summit_2021$ view/pages/summit/summit_2021.php [L]
RewriteRule ^summit-2025$ view/pages/summit/summit_2025.php [L]
RewriteRule ^cuadernillo$ view/pages/notebook/notebook.php [L]
RewriteRule ^notebook_class$ view/pages/notebook/notebook_class.php [L]