@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

/*Estructura Color y Caligrafia*/
:root {
    --Primario: #004aad;
    --PrimarioClaro: #a2caff;
    --SecundarioRojo: #d13633;
    --SecundarioAmarrillo: #ecad43;
    --Blanco: #FFF;
    --Gris: #535353;
    --Negro: #000;

    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: ;

    --navbar-size: 50px;
    --icon-size: 25px;
}

/*Globales*/
html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--Negro);
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    overflow: hidden;
    font-family: var(--FuentePrincipal);
}

main {
    padding-top: 0;
}

/*scroll */
.list_class {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 95vh; 
    direction: rtl;
}

.list_class::-webkit-scrollbar {
    width: 12px;
    background-color: var(--Secundario);
    border-left: 2px solid var(--Primario);
}

.list_class::-webkit-scrollbar-thumb:before {
    content: "↑";
    color: var(--Primario);
    font-size: 12px;
}

.list_class::-webkit-scrollbar-thumb {
    background-color: var(--Primario);
    border-radius: 20px;
}

.list_class::-webkit-scrollbar-thumb {
    transition: background-color 0.2s ease;
}

.list_class::-webkit-scrollbar-thumb:hover {
    background-color: var(--Primario);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.list_class {
    width: 20%;
}

.contentIframe {
    width: 70%;
    height: 95vh;
    display: flex;
    align-items: center;
}

.contentIframe iframe {
    border: 2px solid var(--Primario);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.row {
    width: 99%;
    display: flex;
}

table {
    width: 99%;
    text-align: center;
    font-size: 2rem;
}

/* Formulario */
tbody,
thead,
tr:nth-child(odd) {
    background-color: var(--Primario);
}

tbody,
thead,
tr:nth-child(even) {
    background-color: #3a90ff;
}

body {
    color: var(--Blanco);
}

td {
    text-align: center;
    font-size: 2.2rem;
    border-radius: 20px;
}

.cal:hover {
    box-shadow: 0 0 20px var(--Negro);
    transform: scale(0.9);
}

.cal {
    transition: transform 0.3s ease;
}

.cal a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--Blanco);
}

.titleQuery td {
    background-color: var(--Negro);
    color: #FFF;
}